<% layout('layout') -%>
<link rel="stylesheet" type="text/css" href="stylesheets/about.css" />
<body>
	<a id="home" href="/">home</a> 
	<h1>Twoot with your friends! Twoot with your enemies!</h1>
	<p><span>cute_twoot</span> is a multi-user tweeting application built for the Networks Programming class at University of Washington. Multiple users connect and vote on characters to be included in a collaboritively composed tweet, which is posted to our Twitter account at <a href="https://twitter.com/cute_twoot">@cute_twoot</a>. </p>
	<p><span>Gus</span> is a real chav. <a href="http://gus-glover.com">Learn more.</a></p>
	<p><span>Nick</span> is a smart cookie.</p>
</body>