<html>
  <head>
    <title>multi-tweet</title>
    <meta name="description" content="Generate a tweet with strangers in real-time"/>
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <header>
      multi-tweet, yeah! ;^)
    </header>
    <div id="content">
      <%- body %>
    </div>
</html>