<% layout('layout') -%>
<meta charset="UTF-8"> 
<h1><a href="https://twitter.com/cute_twoot"> <%= title %> </a></h1>
<div id="chars-left">140</div>
<div id="tweet-final"></div>
<div id="keyboard">
<% for (var i = 0; i < charset.length; i++) { %>
    <div class="row">
    <% for (var j = 0; j < charset[i].length; j++) { 
      var cur = charset[i][j];
      var text = cur.text || cur.value; %>
        <button class="letter" data-value="<%= cur.value %>" type="button">
        <% if (text.indexOf('.png', text.length - 4) !== -1) { %>
          <img class="emoji" src="<%= cur.text %>"/>
        <%  } else { %>
          <%= text %>
      <% } %>
      </button>
    <% } %>
    </div>
<% } %>

</div>

<div id="game-deets">
  <div id="timer-outer">
    <div id="timer"></div>
  </div>

  <div id="voting-stats">
    <div class="voting-entry">
      <button disabled class="letter"></button>
      <div class="voting-bar"><div class="bar-text"></div></div>
    </div>
    <div class="voting-entry">
      <button disabled class="letter"></button>
      <div class="voting-bar"><div class="bar-text"></div></div>
    </div>
    <div class="voting-entry">
      <button disabled class="letter"></button>
      <div class="voting-bar"><div class="bar-text"></div></div>
    </div>
    <div class="voting-entry">
      <button disabled class="letter"></button>
      <div class="voting-bar"><div class="bar-text"></div></div>
    </div>
    <div class="voting-entry">
      <button disabled class="letter"></button>
      <div class="voting-bar"><div class="bar-text"></div></div>
    </div>
  </div>

</div>

</div>

<script src="/javascripts/tweet.js"></script>