body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #ffcc66;
}

a {
  color: #8eace6;
}

h1 {
	font-size: 24pt;
}





.letters .evenPair {
	background-color: #8eace6;
}

.letters .oddPair {
	background-color: #9ebfff;
}

.row {
	margin-bottom: 10px;
}

button {
	border-color: #ebebff;
	color: #ebebff;
	font-size: 14pt;
	width: 35px;
	height: 35px;
  vertical-align: top;
}

button:hover {
	background-color: #ff4d4d;
}

.letterRow #letter0:hover {
	background-color: #ff4d4d;
}

.letterRow #letter1:hover {
	background-color: #ff4d4d;
}

div #keyboard {
	text-align: center;
}

#numberRow button {
	color: black;
}



#voting-stats {
  width: 400px;
  text-align: left;
}

#voting-stats > div {
  width: 100%;
  padding: 5px;
}

.voting-entry:nth-child(even) {
  background-color: #8eace6;
}

.voting-entry:nth-child(odd) {
  background-color: #9ebfff;
}

.voting-bar {
  background-color: red;
  display: inline-block;
  height: 35px;
}








textarea {
	padding: 5px;
	margin-bottom: 3%;
	width: 30%;
	height: 10%;
	border-radius: 4%;
}




a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}