body {
  padding: 38px;
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #d5a45a;
}

a {
  color: #e64141;
}

h1 {
	font-size: 18pt;
  margin: 0px;
}

.outer-container {
  width: 540px;
  height: 475px;
  position: absolute; 
  left: 0;
  right: 0;
  margin: 0 auto;
}

#content {
  padding: 30px;
  background-color: #e6d5b4;
}

#underlay1 {
  margin-top: 8px;
  padding: 38px 38px 23px 38px;
  background-color: #b47320;
}

#underlay2 {
  margin-top: 15px;
  padding: 45px 45px 15px 45px;
  background-color: #8b5231;
}




#tweet-final {
  height: 75px;
  background-color: white;
  margin: 19px 0px;
  padding: 11px;
  text-align: left;
  font-size: 19px;
}

#chars-left {
  color: gray;
  font-size: 12pt;
  bottom: 2;
  right: 2;
  position: absolute;
}


.row:first-of-type .letter, .row:last-of-type .letter {
  color: black;
  background-color: #aca46a;
}

.row:first-of-type .letter:hover, .row:last-of-type .letter:hover {
  background-color: #e6d5b4;
}

.row:first-of-type .letter.flash, .row:last-of-type .letter.flash {
  background-color: #e6d5b4;
}

.letter {
  float: left;
}

.row {
  overflow: hidden;
}

#keyboard {
	text-align: center;
}

.letter {
  width: 27px;
  height: 27px;
  padding: 0px;
  border: none;
  color: #ebebff;
  font-size: 11pt;
  vertical-align: top;
}

.letter[data-value="tweet"] {
	width: 54px;
}

.letter[data-value=" "] {
	width: 270px;
}

.row .letter[data-value^=":"] {
  background-color: #CDBF93;
}

.row .letter[data-value^=":"]:hover {
  background-color: #e6d5b4;
}

.letter:nth-of-type(4n), .letter:nth-of-type(4n-1) {
    background-color: #ff836a;
}
.letter:nth-of-type(4n-2), .letter:nth-of-type(4n-3) {
    background-color: #e64141;
}

.letter:nth-of-type(4n):hover, .letter:nth-of-type(4n-1):hover, .letter:nth-of-type(4n-2):hover, .letter:nth-of-type(4n-3):hover {
  background-color: #e6d5b4;
}

.letter:nth-of-type(4n).flash, .letter:nth-of-type(4n-1).flash, .letter:nth-of-type(4n-2).flash, .letter:nth-of-type(4n-3).flash {
  background-color: #e6d5b4;
}

/* number absolute wrapper relative */
#tweet-wrapper {
  position: relative;
}

.emoji {
  width: 19px;
  height: 19px;
  vertical-align: top;
}

#voting-stats {
  width: 315px;
  text-align: left;
}

#voting-stats > div {
  width: 100%;
}

.voting-bar {
  background-color: #ff4d4d;
  display: inline-block;
  height: 23px;
  text-align: left;
  font-size: 19px;
  color: #ebebff;
  margin: 2px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.voting-entry button {
  border-right: 3px solid black;
}

.bar-text {
	width: auto;
	margin: 2px 0px 0px 11px;
}


#game-deets {
	margin-top: 40px;
}

#right-side-deets {
  float: right;
}

#timer-outer, #users-connected {
	font-size: 30pt;
}

div #users-connected-outer {
  text-align: center;
  font-size: 10px;
}

#users-connected-outer {
  width: 140px;
  text-align: left;
  margin-top: 15px;
  float: right;
  padding-top: 3px;
  padding-bottom: 3px;
}

#timer {
	width: 140px;
	text-align: center;
}

#users-connected-outer, #timer {
  background-color: #CDBF93;
}

#about {
  top: 5;
  left: 15;
  position: absolute;
  color: gray;
  font-size: 14px;
}

#about:hover {
  color: #4c4c4c;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

button:focus, input:focus { 
  outline: none;
  box-shadow: none; 
}